DATABASE_URL="neonhemligadress"
PORT=3001

# better auth
BETTER_AUTH_SECRET=hemlignyckel
BETTER_AUTH_URL=http://localhost:3001

# Cors origins for frontend apps
CORS_ORIGINS="http://localhost:5173,http://localhost:8081"

NODE_ENV=development

# Gmail SMTP (nodemailer)
GMAIL_USER="replace-with-gmail-address"
GMAIL_APP_PASSWORD="replace-with-app-password"